<!DOCTYPE HTML>

<html>
<head>
	<meta charset="utf-8">
	<title>Vizitr</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet'>
	<link href="main.css" rel="stylesheet">
</head>

<body id="login-body">

<form></form>
  <div id="login-box">
    <h1 id="login-h1">Vizitr Dashboard Login</h1>
    <input type="email" name="email" placeholder="Email" class="login-input" id="input-email"/>
    <input type="password" name="password" placeholder="Password" class="login-input" id="input-password"/>
    <button id="btn-signin">Sign In</button> <!-- End Btn -->
    <button id="btn-signup">Sign Up</button> <!-- End Btn2 -->
  </div> <!-- End Box -->
</form>
<p id="forgot-password-login-p">Forgot your password? <a href="/forgot-password">Click Here!</a></p>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>





	
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCtpX8eEkJH0rWvikVLeqU5Xm0eYDhmyEs",
    authDomain: "vizitr-17f48.firebaseapp.com",
    databaseURL: "https://vizitr-17f48.firebaseio.com",
    projectId: "vizitr-17f48",
    storageBucket: "vizitr-17f48.appspot.com",
    messagingSenderId: "414769454147"
  };
  firebase.initializeApp(config);
</script>
<script src="login.js"></script>
</body>

</html>